
<div class="fixed z-10 inset-0 overflow-y-auto" *ngIf="isNewProject" aria-labelledby="modal-title" role="dialog"
	aria-modal="true">
	<div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">

		<div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

		<span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

		<div
			class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle w-auto">
			<div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
				<div class="sm:flex sm:items-start">
					<div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
						<h3 class="text-lg leading-6 font-medium text-gray-900 mb-5" id="modal-title">
							New Project
						</h3>
						<form class="mt-2" [formGroup]="projectForm">
							<div class="mb-3">
								<label for="title" class="block mb-2 text-sm text-gray-600">Title</label>
								<input type="title" id="title" formControlName="title" placeholder=""
									class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300" />
							</div>
							<div class="mb-2">
								<label for="description" class="block mb-2 text-sm text-gray-600">Description</label>
								<input type="description" id="description" formControlName="description" placeholder=""
									class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300" />
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
				<button (click)="newProject();isNewProjectChange()" [disabled]="!projectForm.valid"
					class="disabled:opacity-50 focus:outline-none ml-8 whitespace-nowrap px-4 py-2 inline-flex items-center justify-center border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700 cursor-pointer">
					Create
				</button>
				<button (click)="isNewProjectChange()"
					class="md:flex hidden whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900 items-center">
					Cancel
				</button>
			</div>
		</div>
	</div>
</div>


<div class="bg-gray-100 w-full lg:py-16" style="height: 70vh;">
	<div class="flex flex-col flex-wrap content-center">
		<h2
			class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto">
			Projects
		</h2>
		<button (click)="isNewProjectChange()"
			class="bg-white shadow-md w-36 px-3 py-2 rounded-lg flex items-center space-x-4 focus:outline-none hover:bg-gray-200">
			<svg class="w-6 h-6 text-indigo-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
				stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
					d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
			</svg>
			<div class="text">
				<p class="text-xs font-semibold text-gray-900">New Project</p>
			</div>
		</button>
	</div>
	<div class="max-w-lg space-y-3 sm:mx-auto lg:max-w-xl mt-5">
		<hours-loading *ngIf="isLoading"></hours-loading>

		<div class="flex items-center bg-white p-2 duration-300 transform border rounded shadow hover:scale-105 sm:hover:scale-100"
			*ngFor="let project of projects">
			<div class="mr-2">
				<svg class="w-6 h-6 text-deep-purple-accent-400 sm:w-8 sm:h-8 scale-95"
					xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
						d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
				</svg>
			</div>
			<span class="text-gray-800">{{project.title}}</span>
			<div class="absolute right-2 flex flex-row">
				<a [routerLink]="project.title+'/tracking'" [state]="{id:project.id}" class="bg-blue-500 mr-4 px-4 py-2 text-xs font-semibold tracking-wider text-white inline-flex items-center space-x-2 rounded hover:bg-blue-600">
					<span>
						<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 transform rotate-180" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6" />
						  </svg>
					</span>
					<span>
						Go Project
					</span>
				</a>
				<button class="focus:outline-none" (click)="deleteProject(project.id!)">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
						stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
							d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
					</svg>
				</button>
			</div>
		</div>
	</div>
</div>