<nav class="h-screen flex flex-col w-60 bg-gray-50 bg-white border-r-2">
    <div class="p-4 text-center text-xl border-b-2 text-blue-600">
        <h1 class="uppercase"> Project {{urlTitle}}</h1>
    </div>
    <ul class="p-2 space-y-3 flex-1 overflow-auto" style="scrollbar-width: thin;">
        <li *ngFor="let link of urlItemsNav" routerLinkActive="bg-gray-200" [routerLinkActiveOptions]="{exact:
            true}">
            <a [routerLink]="link.url" [state]="{id:idProject}"
                class="flex space-x-2 items-center text-gray-600 p-2 hover:bg-gray-200 rounded-lg">
                <div class="w-7 h-7" [innerHTML]="link.icon"></div>
                <span class="text-gray-900">{{link.title}}</span>
            </a>
            <hr *ngIf="link.separator" />
        </li>
    </ul>
</nav>