<div class="flex-1 flex flex-col overflow-hidden h-full">
    <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
        <div class="container mx-auto px-6 py-8">
            <div class="py-4">
                <div>
                    <h3 class="text-gray-700 text-2xl font-medium">Reports</h3>
                </div>
                <div class="my-4 flex sm:flex-row flex-col">
                    <form class="flex flex-row mb-1 sm:mb-0" [formGroup]="datesRangueForm" (ngSubmit)="getTracking()">
                        <div class="relative">
                            <input type="date" formControlName="startDate"
                                class="w-full px-2 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300" />
                        </div>
                        <div class="relative">
                            <input type="date" formControlName="endDate"
                                class="w-full ml-3 px-2 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300" />
                        </div>
                        <div class="relative ml-5">
                            <select (change)="getTracking($event.target)"
                                class="w-full ml-3 px-2 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300">
                                <option class="py-1" disabled selected>Select User</option>
                                <option class="py-1" value="{{user.id}}" *ngFor="let user of users | async">
                                    {{user.fullName}}</option>
                            </select>
                        </div>
                        <div class="relative ml-6">
                            <button type="submit" [disabled]="!datesRangueForm.valid"
                                class="disabled:opacity-50 uppercase focus:outline-none whitespace-nowrap  px-4 py-2 inline-flex items-center justify-center border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700 cursor-pointer">
                                Search
                            </button>
                        </div>
                    </form>
                </div>
            </div>


            <div class="flex flex-col">
                <div class="float-right">
                    <button (click)="export('pdf')"
                        class="bg-grey-light hover:bg-grey font-bold py-2 px-4 rounded inline-flex items-center">
                        <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z" />
                        </svg>
                        <span class="text-red-600">Download PDF</span>
                    </button>
                    <button (click)="export('xlsx')"
                        class="bg-grey-light hover:bg-grey font-bold py-2 px-4 rounded inline-flex items-center">
                        <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z" />
                        </svg>
                        <span class="text-green-600">Download Excel</span>
                    </button>
                </div>
                <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
                    <div
                        class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
                        <table class="min-w-full leading-normal" id="tblTrack">
                            <thead>
                                <tr>
                                    <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        Description
                                    </th>
                                    <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        Date
                                    </th>
                                    <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        Time
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="isLoading">
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <div class="flex items-center">
                                            <hours-loading></hours-loading>
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngFor="let track of tracking">
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <div class="flex items-center">
                                            {{track.description}}
                                        </div>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <p class="text-gray-900 whitespace-no-wrap">{{track.startTime | date:
                                            'dd/MM/yyyy'}}</p>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <span
                                            class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">{{getHours(track.startTime,
                                            track.endTime)}}</span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>