<div class="flex-1 flex flex-col overflow-hidden h-full">
    <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
        <div class="container mx-auto px-6 py-8">
            <h3 class="text-gray-700 text-2xl font-medium">New Collaborator</h3>

            <div class="mt-4">
                <form class="flex flex-wrap -mx-6" (ngSubmit)="newCollaborator()">
                    <div class="w-full px-6 sm:w-1/2 xl:w-1/3">
                        <label for="description" class="block mb-2 mr-2 text-sm text-gray-600">Email</label>
                        <input type="description" id="description" [formControl]="emailFormControl"
                            class="w-full py-2 px-3 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300" />
                    </div>

                    <div class="w-full mt-6 px-6 sm:w-1/2 xl:w-1/3 xl:mt-0 flex items-center">
                        <button type="submit" [disabled]="!emailFormControl.valid"
                            class="disabled:opacity-50 mt-6 uppercase  focus:outline-none  whitespace-nowrap mt-3 px-4 py-2 inline-flex items-center justify-center border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700 cursor-pointer">
                            Add Member
                        </button>

                    </div>
                </form>
            </div>

            <div class="mt-8">

            </div>
            <div class="flex flex-col mt-8">
                <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
                     <h3 class="text-gray-700 mb-5 text-2xl font-medium">Collaborators</h3>
                    <div
                        class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
                        <table class="min-w-full">
                            <thead>
                                <tr>
                                    <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        Name
                                    </th>
                                    <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        Email
                                    </th>
                                </tr>
                            </thead>

                            <tbody class="bg-white">
                                <tr  *ngIf="isLoading">
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <div class="flex items-center">
                                            <hours-loading ></hours-loading>
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngFor="let user of users">
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <div class="flex items-center">
                                           {{user.fullName}}
                                        </div>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <p class="text-gray-900 whitespace-no-wrap">{{user.email}}</p>
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>