<div class="flex-1 flex flex-col overflow-hidden h-full">
    <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
        <div class="container mx-auto px-6 py-8">
            <h3 class="text-gray-700 text-2xl font-medium">New Track</h3>
            <div class="mt-4">
                <form class="flex flex-wrap -mx-6" [formGroup]="trackingForm" (ngSubmit)="newTrack()">
                    <div class="w-full px-6 sm:w-1/2 xl:w-1/3">

                        <label for="description" class="block mb-2 text-sm text-gray-600">Description</label>
                        <input type="description" id="description" formControlName="description"
                            class="w-full py-2 px-3 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300" />
                    </div>

                    <div class="w-full mt-6 px-6 sm:w-1/2 xl:w-1/3 sm:mt-0">
                        <div class="flex">
                            <div class="flex-grow w-3/6 mr-3">
                                <label for="starttime" class="block mb-2 text-sm text-gray-600">Start Time</label>
                                <input type="time" id="starttime" formControlName="startTime"
                                    class="w-full px-2 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300" />
                            </div>
                            <div class="flex-grow w-3/6">
                                <label for="endtime" class="block mb-2 text-sm text-gray-600">End Time</label>
                                <input type="time" id="endtime" formControlName="endTime"
                                    class="w-full py-2 px-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300" />
                            </div>

                        </div>

                    </div>

                    <div class="w-full mt-6 px-6 sm:w-1/2 xl:w-1/3 xl:mt-0 flex items-center ">
                        <button type="submit" [disabled]="!trackingForm.valid"
                            class="disabled:opacity-50 mt-6 uppercase  focus:outline-none  whitespace-nowrap mt-3 px-4 py-2 inline-flex items-center justify-center border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700 cursor-pointer">
                            Add New Time
                        </button>

                    </div>
                </form>
            </div>
            <div class="flex flex-col mt-4">
                <div class="my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
                    <h3 class="text-gray-700 text-2xl font-medium mb-5">Day Tracks</h3>
                    <div
                    
                        class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
                        <table class="min-w-full leading-normal">
                            <thead>
                                <tr>
                                    <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        Description
                                    </th>
                                    <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        Date
                                    </th>
                                    <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        Time
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr  *ngIf="isLoading">
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <div class="flex items-center">
                                            <hours-loading ></hours-loading>
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngFor="let track of tracking">
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <div class="flex items-center">
                                            {{track.description}}
                                        </div>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <p class="text-gray-900 whitespace-no-wrap">{{track.startTime | date:
                                            'dd/MM/yyyy'}}</p>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <span
                                            class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">{{getHours(track.startTime,
                                            track.endTime)}}</span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>