
    <div class="flex items-center bg-gray-100" style="height: 47.45rem;">
        <div class="container mx-auto">
            <div class="max-w-md mx-auto my-10">
                <div class="text-center">
                    <h1 class="my-3 text-3xl font-semibold text-gray-700">Sign in</h1>
                    <p class="text-gray-500">Sign in to access your account</p>
                </div>
                <div class="m-7">
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="mb-6">
                            <label for="email" class="block mb-2 text-sm text-gray-600">Email Address</label>
                            <input type="email" name="email" id="email" formControlName="email" placeholder="you@company.com" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300" />
                        </div>
                        <div class="mb-6">
                            <div class="flex justify-between mb-2">
                                <label for="password" class="text-sm text-gray-600">Password</label>
                            </div>
                            <input type="password" name="password" id="password" formControlName="password" placeholder="Your Password" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300" />
                        </div>
                        <div class="mb-6">
                            <button type="submit" [disabled]="!loginForm.valid" class="w-full px-3 py-4 text-white bg-indigo-500 rounded-md focus:bg-indigo-600 focus:outline-none disabled:opacity-50">Login</button>
                            <span class="flex justify-center w-full text-lg tracking-wide text-red-500 mt-1 ml-1">
                                {{this.error}}
                            </span>
                        </div>
    
                       </form>
                </div>
            </div>
        </div>
    </div>


<div class="pt-8 bg-white border-t-2 border-light-blue-500 border-opacity-25">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="lg:text-center">
            <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
                Don&#x27;t have an account yet? <a routerLink="/register" class="text-indigo-400 focus:outline-none focus:underline focus:text-indigo-500">Sign up</a>
            </p>
        </div>

    </div>
</div>