<nav class="w-full bg-gray-50 h-14 border-b-2 mb-0.5">
    <div class="flex justify-between h-full px-2 lg:px-6 xl:px-48">
        <div class="flex h-full items-center">
            <a class="flex h-full items-center cursor-pointer" routerLink="/">
                <img class="mx-auto h-12 w-auto hidden md:block" src="/assets/home/logo-title.jpg" alt="Logo-Title">
                <img class="mx-auto h-12 w-auto block md:hidden" src="/assets/home/just-logo.jpg" alt="Logo">
            </a>
            <ul class="lg:flex hidden items-center ml-16 text-sm font-medium text-gray-600 space-x-1 cursor-pointer">
                <li class="pb-5 pt-4 px-6 hover:text-blue-500 hover:border-blue-500 border-b-2 border-gray-200 focus:outline-none"
                    *ngFor="let item of urlItemsNav" [routerLink]="[item.url]"
                    [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="border-blue-500 text-blue-500">
                    {{item.title}}</li>
            </ul>
        </div>

        <div class="flex h-full items-center ">
            <button 
                class="focus:outline-none md:flex hidden whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900 inline-flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                  </svg>
                <span (click)="logout()">Logout</span>
                </button>
        </div>

    </div>
</nav>