<nav class="w-full bg-gray-50 h-14 shadow-2xl mb-0.5">
    <div class="flex justify-between h-full px-2 lg:px-6 xl:px-48">
        <div class="flex h-full items-center">
            <a class="flex h-full items-center cursor-pointer" routerLink="/">
                <img class="mx-auto h-12 w-auto hidden md:block" src="/assets/home/logo-title.jpg" alt="Logo-Title">
                <img class="mx-auto h-12 w-auto block md:hidden" src="/assets/home/just-logo.jpg" alt="Logo">
            </a>
            <ul class="lg:flex hidden items-center ml-16 text-sm font-medium text-gray-600 space-x-1 cursor-pointer">
                <li class="pb-5 pt-4 px-6 hover:text-blue-500 hover:border-blue-500 border-b-2 border-gray-200 focus:outline-none"
                    *ngFor="let item of urlItemsNav" [routerLink]="[item.url]"
                    [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="border-blue-500 text-blue-500">
                    {{item.title}}</li>
            </ul>
        </div>

        <span *ngIf="!IsAutheticated(); else elseBlock">
            <div class="flex h-full items-center">
                <a routerLink="login"
                    class="md:flex hidden whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900">
                    Sign in
                </a>
                <a routerLink="/login"
                    class="ml-8 whitespace-nowrap px-4 py-2 inline-flex items-center justify-center border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700 cursor-pointer">
                    New Project
                </a>
                <button class="lg:flex hidden ml-5 absolute right-5 focus:outline-none">
                    <div id="switch-toggle"
                        class="w-7 h-7 relative rounded-full transition duration-500 transform  p-1 text-white">
                    </div>
                </button>
            </div>
        </span>
        <ng-template #elseBlock>
            <div class="flex h-full items-center">
                <button (click)="logout()"
                    class="md:flex hidden whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900">
                    Logout
            </button>
                <a routerLink="/projects"
                    class="focus:outline-none ml-8 whitespace-nowrap px-4 py-2 inline-flex items-center justify-center border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700 cursor-pointer">
                    List Projects
                </a>
                <button class="lg:flex hidden ml-5 absolute right-5 focus:outline-none">
                    <div id="switch-toggle"
                        class="w-7 h-7 relative rounded-full transition duration-500 transform  p-1 text-white">
                    </div>
                </button>
            </div>
        </ng-template>

    </div>
</nav>